name:  Build and Push Docker Images to the Docker Hub 

on: 
  push:
    branches:
      - master 

jobs:
  build: 
    runs-on: ubuntu-latest

    steps:

    - name: checkout code 
      uses: actions/checkout@v3

    - name: Login into Docker Hub 
      uses: docker/login-action@v3
      with:
        username: ${{secrets.DOCKERHUB_USERNAME}}
        password: ${{secrets.DOCKERHUB_PASSWORD}}
    - name: Build Docker Image 
      run: |
        docker build \
          -t muralisocial123/hr-app:v1.1.0 \
          . 
    - name: Push docker image to Docker hub 
      run: |
        docker push muralisocial123/hr-app:v1.1.0             
